<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.Chess2v2.ChessApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.Chess2v2.app.SignupActivity"
            android:exported="false" />

        <activity
            android:name="com.Chess2v2.app.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.Chess2v2.app.ChatActivity"
            android:exported="false" />

        <activity
            android:name="com.Chess2v2.leaderboard.LeaderboardActivity"
            android:exported="true" />

        <activity
            android:name="com.Chess2v2.chess.ChessBoardActivity"
            android:exported="true" />

        <activity
            android:name="com.Chess2v2.groups.Group_finder"
            android:exported="true" />


        <activity
            android:name="com.Chess2v2.app.HomeActivity"
            android:exported="true" />

        <activity
            android:name="com.Chess2v2.app.ProfileActivity"
            android:exported="true" />

        <activity
            android:name="com.Chess2v2.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
